{
  "extends": [
    "react-app",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 0
    //   "error",
    //   {
    //     "endOfLine": "auto",
    //     "arrow-parens:": "always"
    //   }
    // ]
  }
}